body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    flex-grow: 1;
}

img {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

button {
    cursor: pointer;
    background-color: yellow;
    border: 2px solid #ffa45b;
    box-shadow: #0e5858;
    border-radius: 20px;
    height: 100px;
    width: 250px;
    margin-top: 2rem;
}

footer {
    display: none;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    background-color: #323232;
    height: 4em;
    color: white;
}